In [1]:
import os
import copy
import pandas as pd
import numpy as np
import feather



import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', 100)

In [2]:
DATA_PATH = '../data/'
df =  feather.read_dataframe(DATA_PATH + 'housing_with_prices')

In [3]:
print(f'without location {df.location.isnull().sum()}')
print(f'with location {df.location.notnull().sum()}')

without location 1088
with location 1444

In [4]:
df[df.location.notnull()]['location'].value_counts().head(15)

Cambridge            239
Somerville           172
Roxbury Crossing     143
Dorchester           122
Allston               91
Brighton              72
Brookline             71
Roxbury               67
New Bedford           43
Jamaica Plain         36
East Boston           32
Medford               28
Watertown             18
Malden                18
Dorchester Center     17
Name: location, dtype: int64

In [5]:
featured_districts = ['Brookline',
            'Cambridge',
            'East Boston',
            'Fitchburg',
             'Fall River',
             'Jamaica Plain',
             'Lowell',
             'Lynn',
             'Malden',
             'Medfold',
             'New Bedford',
            'Quincy',
             'Revere',
             'Somerville',
             'Watertown',
            
            ]

In [6]:
def search_district(text):
    for dist in featured_districts:
        if dist.lower() in text:
            return dist

In [7]:
# naive implementation as district in demand could be an array
df.loc[df.location.isnull(), 'location'] = df[df.location.isnull()].text.apply(lambda t: search_district(t))

In [8]:
df_with_loc = df[df.location.notnull()]
df_without_loc = df[df.location.isnull()]

In [9]:
print(f'without location {df_without_loc.location.isnull().sum()}')
print(f'with location {df_with_loc.location.notnull().sum()}')

without location 786
with location 1746

In [10]:
df[df.location.notnull()]['location'].value_counts().head(15)

Cambridge           379
Somerville          199
Brookline           149
Roxbury Crossing    143
Dorchester          122
Allston              91
Brighton             72
Roxbury              67
Jamaica Plain        48
East Boston          43
New Bedford          43
Medford              28
Quincy               28
Watertown            23
Malden               23
Name: location, dtype: int64

In [11]:
# df.reset_index(inplace=True)
df.to_feather(DATA_PATH + 'housing_with_location')